.new-form {
  form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 23em;
  }

  input {
    margin: 8px;
    width: 22.5em;
  }

  input[type="date"] {
    width: 10em;
  }

  input[type="checkbox"] {
    width: 10px;
  }

  label {
    font-size: 12px;
  }
}
