:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  /* background-color: #ebe6e2; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  background-image: linear-gradient(to bottom right, #ebe6e2, #c1b1a9);
  background-attachment: fixed;
}

body {
  margin: 0;
}

a {
  color: #181719;
  text-decoration: inherit;
}

a:hover {
  color: #d4cfcf;
  font-weight: 700;
}

input {
  border:1px solid black;
  padding: 8px;
}

button {
  border:1px solid black;
  background-color: black;
  color: #f3efee;
  font-family: serif;
  font-size: .9em;
  padding: 8px;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #b0a59d;
}