#landing-header-container {
    display: flex;
    width: 50%;
    height: 40vh;
    align-items: center;
    background-color: #fff;
}

#landing-welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 10px;
}

.landing-page-button {
    /* font-weight: 500; */
    letter-spacing: 1px;
    width: 100px;
    border: 2px solid #000;
    font-size: 14px;
}

.landing-page-button:hover {
    background-color: #fff;
    color: #000;
}
