.page-title {
  font-size: 1.5em;
  font-weight: 500;
}

.info {
  font-size: 13px;
}

.body {
  font-size: 14px;
}

.alert {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.secondary-text {
  color: grey;
}

.shipment-title {
  font-family: serif;
  font-size: 1.2em;
  line-height: 1em;
}

.logo-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-header-italicize {
  font-family: serif;
  font-size: 1.5em;
  font-style: italic
}

.page-header {
  font-size: 2em;
  font-weight: bold;
  font-family: serif;
}

.page-description {
  font-size: 16px;
}

.h3 {
  font-size: 23px;
}

.h1 {
  font-size: 3em;
}