.page-title {
  font-size: 1.5em;
  font-weight: 500;
}

.info {
  font-size: 13px;
}

.body {
  font-size: 13px;
}

.shipment-title {
  font-family: serif;
  font-size: 1.2em;
  line-height: 1em;
}

.logo-text {
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
